.content {
  display: flex;
  gap: 1vw;
  padding: 1vw;
}

.modulesList {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 1vw;
  padding: 0;
}

.react-paginate {
  list-style: none;
  height: 31.5px;
  width: 31.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  cursor: pointer;
}

.active {
  background-color: #1e50ff;
  border-radius: 50%;
}

.page-item {
  list-style: none;
  padding: 2px 12px;
  height: 31.5px;
  width: 31.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}
