/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./mdx-components.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.mdx-components_h1__hvf4f {
    font-size: 3rem;
}

.mdx-components_h2__HqB4L {
    font-size: 2rem;
}

.mdx-components_h3__ln5GE {
    font-size: 1.5rem;
}

.mdx-components_p__9MjlX {
    padding-bottom: 1.25rem;
    font-size: 1.2rem;
}

.mdx-components_a__63Cr0 {
    color: var(--ifm-color-primary);
}
.mdx-components_a__63Cr0:hover {
    text-decoration: underline;
}

.mdx-components_ol__qvq8j {
    list-style: decimal;
}
.mdx-components_ul__AjnNw {
    list-style: disc;
}
.mdx-components_li__DOcGo {
    margin-top: 0.25rem;
}

.mdx-components_pre__1JQVE {
    margin: 0 0 1.25rem;
    padding: 0;
    background-color: #f6f8fa;
    border-radius: 0.4rem;
    color: inherit;
    font: var(--ifm-code-font-size) / 1.45 var(--ifm-font-family-monospace);
    overflow: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

    float: left;
    min-width: 100%;
    padding: 1rem;
}

.mdx-components_code__BS6NW {
    font: inherit;
    background-color: rgb(246, 247, 248);
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-radius: var(--ifm-global-radius);
    font-family: var(--ifm-font-family-monospace);
    font-size: var(--ifm-code-font-size);
    padding: 0.1rem;
    vertical-align: middle;
}
.mdx-components_pre__1JQVE > .mdx-components_code__BS6NW {
    border: none;
}

.mdx-components_hr__OXb93 {
    width: 100%;
    background-color: rgb(190, 195, 201);
    border: 0;
    height: 1px;
    margin: 1.5rem 0;
}
